page-start {

  .start-logo {
    width: auto;
    height: 70px;
    margin: 10px auto;
  }
  .logo-row {
    width: auto;
    background-color: white;
    height: 100px;
    padding: 0;
    margin-bottom: 20px;
    border: 0;
  }
}
