page-result {
  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      font-size: 3.5vw;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .strokeme
    {
      color: white;
      text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      right: 10%;
      top: 60%;
      width: 100%;
      color: #fff;
    }

    h5{
      font-size: 1.4em;
    }


  }
}
